@import "tailwindcss";

html {
    scroll-padding-top: 64px;
    scroll-behavior: smooth;
    @apply text-stone-900;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");

    font-weight: 100 900;
    font-stretch: 50% 200%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo";
    src: url("/fonts/Exo-VariableFont_wght.ttf") format("truetype");

    font-weight: 100 900;
    font-stretch: 50% 200%;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Exo", sans-serif;
    --font-sans-snd: "Geist", sans-serif;
}
