---
const { name, head } = Astro.props;

const className = `
  bg-stone-100 p-4 rounded-full flex items-center justify-center
  ${!head && "opacity-60"}
`;
---

<div class={className}>
    {name}
</div>
